data/

# Ignore Vivado and Vitis folders
*.Xil/
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.xpr
compile_simlib/
vivado2023/*cache/
wt/

# Ignore project-specific build artifacts in Vitis Classic
ceg5203_project/
sobel_filter_system/
.analytics

# Ignore project-specific build artifacts in Vitis
*.theia/
logs/
*.lock
myip_v1_0_HLS/
.peers.ini
.repo.yaml


# Ignore backup and log files
*.log
*.jou
*.backup.log

# Ignore compiled object files
*.o
*.xsa

# General IDE and system files
.metadata/
.analytics/
*.log
*.tmp
*.swp
.DS_Store
.idea/
.vscode/

